.footer {
  margin-top: 2rem;
  display:flex;
  justify-content:center;
  position:absolute;
  bottom:0;
  width:100vw;
}

.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}