.footer {
  margin-top: 2rem;
  display:flex;
  justify-content:center;
}

.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}