/** @format */

body,
html {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #333;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  line-height: 1.4rem;
  height: 100vh;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid #ddd;
}
.imgwrap {
  width: 70%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.col-6 {
  width: calc(50% - 6vw);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.imgcolstyle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.rowmarr3 {
  margin-right: 3vw;
}
.rowmarl3 {
  margin-left: 6vw;
}

@media (max-width: 768px) {
  .col-6 {
    width: calc(100% - 6vw);
    max-width: 100vw;
    padding: 7.5px;
  }
  .imgwrap {
    width: 100%;
  }
  .rowmarl3 {
    margin-left: 0px;
  }
  .rowmarr3 {
    margin-right: 0px;
  }
}
